# PyCharm / JetBrains
.idea/

# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# Docs
docs/*.pdf
docs/*.aux
docs/*.log
docs/*.out
docs/*.png

# Database
db.sqlite3

# OS
.DS_Store
Thumbs.db
